
body {
    /* border: 2px solid red; */
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    border: 2px solid turquoise;
    max-width: 1600px;
    border: 2px solid turquoise;
}

button {
    font-family: 'Poppins', sans-serif;
}

main {
    width: 100%;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border: 2px solid darkviolet;
    min-height: 100vh;
}

img {
    object-fit: contain;
    max-width: 100%; 
    height: auto;
}

article {
    border: 2px solid blue;
    width: 85%;  
}

.round {
    width: 200px;
    height: 200px;
    background: #FFDC61;
    border-radius: 0 0 200px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -15;
}




@media screen and (max-width: 1024px) {
    section {
        min-height: auto;
        margin-bottom: 5%;
    }
}

